<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>ReplaceLogin</servlet-name>   <!-- Whatever name you want -->
        <servlet-class>webApp.Login</servlet-class> <!-- Correct name package.JavaClass -->
    </servlet>

    <servlet>
        <servlet-name>ReplaceRegister</servlet-name>   <!-- Whatever name you want -->
        <servlet-class>webApp.Register</servlet-class> <!-- Correct name package.JavaClass -->
    </servlet>

    <servlet>
        <servlet-name>Homepage</servlet-name>   <!-- Whatever name you want -->
        <servlet-class>webApp.Homepage</servlet-class> <!-- Correct name package.JavaClass -->
    </servlet>

    <servlet>
        <servlet-name>Search</servlet-name>   <!-- Whatever name you want -->
        <servlet-class>webApp.Search</servlet-class> <!-- Correct name package.JavaClass -->
    </servlet>

    <servlet>
        <servlet-name>Welcome</servlet-name>   <!-- Whatever name you want -->
        <servlet-class>webApp.Welcome</servlet-class> <!-- Correct name package.JavaClass -->
    </servlet>

    <!--    UP | SERVLETS  -->
    <!--  DOWN | MAPPING  -->

    <servlet-mapping>
        <servlet-name>ReplaceLogin</servlet-name>       <!-- For servlet named (up there) 'sameName' -->
        <url-pattern>/login</url-pattern>              <!-- Redirects to "/thisName", no need to be the named as the Servlet -->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReplaceRegister</servlet-name>    <!-- For servlet named (up there) 'sameName' -->
        <url-pattern>/register</url-pattern>           <!-- Redirects to "/thisName", no need to be the named as the Servlet -->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>           <!-- For servlet named (up there) 'sameName' -->
        <url-pattern>/homepage</url-pattern>           <!-- Redirects to "/thisName", no need to be the named as the Servlet -->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>           <!-- For servlet named (up there) 'sameName' -->
        <url-pattern>/welcome</url-pattern>           <!-- Redirects to "/thisName", no need to be the named as the Servlet -->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Search</servlet-name>           <!-- For servlet named (up there) 'sameName' -->
        <url-pattern>/search</url-pattern>           <!-- Redirects to "/thisName", no need to be the named as the Servlet -->
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--    UP | MAPPING  -->
    <!--  DOWN | PARAMETERS  -->

    <context-param>
        <param-name>AppName</param-name>
        <param-value>Ro-Commerce</param-value>
    </context-param>
</web-app>
